$fonte_padrao: arial,sans-serif;
$cor_padrao: #515151;
$cor_fundo: #3c404314;
$tamanho_padrao: 13px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte_padrao;
    color: $cor_padrao;
    font-size: $tamanho_padrao;
    line-height: 24px;
}

nav{
    display: flex;
    justify-content: end;
}

header{ 
    
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        margin: 15px;
        gap: 15px;
    }

    li, 
    img, 
    .menu{
        cursor: pointer;
    }

    .menu{
        padding: 10px;
        height: 50px;
        width: 50px;
    }
    

    .menu:hover,
    .avatar:hover{
        background-color: $cor_fundo;
        border-radius: 50%;
    }

    .avatar{
        padding: 5px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }


    .texto:hover{
        text-decoration: underline;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo{
        height: 275px;
        width: 275px;
    }

    .pesquisa{
        display: flex;
        align-items: center;
    }

    .fone,
    .lupa{
        height: 20px;
        width: 20px;
    }

    input,
    .fone,
    .lupa{
        margin-top: -60px;
    }

    .fone{
        margin-left: -40px;
    }

    .lupa{
        margin-right: -35px;
        z-index: 1;
    }

    input{
        outline: none;
        width: 550px;
        height: 42px;
        padding: 1px 40px;
        font-size: 16px;
        border-radius: 22px;
        border: none;
        box-shadow: 0 1px 6px 0 #20212447;
    }

    input:focus{
        border-radius: 10px;
    }
}
