$fonte_padrao: arial,sans-serif;
$cor_padrao: #515151;
$tamanho_padrao: 13px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte_padrao;
    color: $cor_padrao;
    font-size: $tamanho_padrao;
    line-height: 24px;
}

nav{
    display: flex;
    justify-content: end;
}

header{ 
    
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        margin: 15px;
        gap: 15px;
    }

    li, 
    img, 
    .menu{
        cursor: pointer;
    }

    .menu{
        height: 25px;
        width: 25px;
    }

    .avatar{
        height: 32px;
        width: 32px;
        border-radius: 50%;
    }

    .texto:hover{
        text-decoration: underline;
    }
}