$fonte_padrao: arial,sans-serif;
$cor_padrao: #515151;
$cor_fundo: #3c404314;
$tamanho_padrao: 13px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte_padrao;
    color: $cor_padrao;
    font-size: $tamanho_padrao;
    line-height: 24px;
}

nav{
    display: flex;
    justify-content: end;
}

header{ 
    
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        margin: 15px;
        gap: 15px;
    }

    li, 
    img, 
    .menu{
        cursor: pointer;
    }

    .menu{
        padding: 10px;
        height: 50px;
        width: 50px;
    }
    

    .menu:hover,
    .avatar:hover{
        background-color: $cor_fundo;
        border-radius: 50%;
    }

    .avatar{
        padding: 5px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }


    .texto:hover{
        text-decoration: underline;
    }
}